<div class="container main ">
  <div class="container-fluid modal-content header">
    <div class="container-fluid">
      <img src="../../assets/89427.jpg" class="rounded-circle profileimage" alt="Responsive image">
      <h2 class="name">
        Naveen Patel
      </h2>
      <button class="btn btn-info btn-lg btn1" disabled>Logout</button>
      <button class="btn btn-info btn-lg btn1" data-toggle="modal" data-target="#addtask">Add task</button>
    </div>
    <!-- for adding task popup -->
    <div class="modal fade" id="addtask" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content popup">
          <div class="modal-header popheading">
            <h3 class="modal-title">Add your task her !!!</h3>
          </div>
          <div class="modal-body">
            <input tyoe="test" class="btn btn-info btn-lg tasktext" id='inputtask' [(ngModel)]="task" name="tasktext"
              onfocus="this.value=''" placeholder="enter task" autocomplete="off" />
            <!-- onclick="document.getElementById('myInput').value = ''" -->
            <button class="btn btn-info btn-lg btn2" (click)='addtask()'
              data-dismiss="modal" >Add</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
          </div>
        </div>

      </div>
    </div>
    <div>

    </div>
  </div>
  <!-- for task list -->
  <div class=" container-fluid">
    <table class="table table-striped table-dark" style="width:100%">
      <thead class="thead-light">
        <tr class="tablehead">
          <th scope="col"></th>
          <th scope="col">Task</th>
          <th scope="col"></th>
          <th scope="col" class="date">Date</th>
          <th scope="col" class="edit"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of getTask; let i = index">
          <td scope="row" id="serialNo" class="{{class}}"> {{i+1}}</td>
          <td [(ngModel)]="rowvalue" name="tasktable">{{item.task}}</td>
          <td>{{rowvalue}}</td>
          <td class="date">{{item.date}}</td>
          <td id="serialNo"><button data-toggle="modal" data-target="#edittask" (click)='edittask()'
              (click)='deletetask()'>Edit</button></td>
          <!-- <td id="serialNo"><button>X</button></td> -->
        </tr>
      </tbody>
    </table>
    <!-- if list is empty -->
    <!-- <div *ngIf=edfsf></div> -->
  </div>
  <!-- for edit task popup -->
  <div class="modal fade" id="edittask" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content popup">
        <div class="modal-header popheading">
          <h3 class="modal-title">Edit Task</h3>
        </div>
        <div class="modal-body">
          <input tyoe="test" class="btn btn-info btn-lg tasktext" [(ngModel)]="task" name="tasktext"
            onfocus="this.value=''" placeholder="enter task" autocomplete="off" />
          <!-- onclick="document.getElementById('myInput').value = ''" -->
          <button class="btn btn-info btn-lg btn2">Save</button>
          <button class="btn btn-info btn-lg btn2" (click)='deletetask()'>Delete</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
        </div>
      </div>

    </div>
  </div>
</div>