/* You can add global styles to this file, and also import other style files */
body, html {
    /* height: 100%;
    width: 100%; */
     min-width: 100%;
   min-height: 100%;
  }
body 
{
   background-image: url('../../todo/src/assets/skydiving-skydiver-beach-sea-wallpaper.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   /* min-width: 100%;
   min-height: 100%; */
   background-position: center;
}