<div>
  <P class="heading">
    Just Do It...
  </P>
  <div class="container">
    <div class="container addhere" >
      <p class="subhead">add your task here -</p>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add here</button>
  </div>
  <!-- for popup -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content popup">
          <div class="modal-header popheading">
            <h3 class="modal-title">User</h3>
          </div>
          <div class="modal-body">
           <button class="btn btn-info btn-lg btn1" data-toggle="modal" data-target="#newuser">New User</button>
           <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#olduser">Old User</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Home</button>
          </div>
        </div>

      </div>
      <!-- existing user -->
      <div class="modal fade" id="olduser" role="dialog">
          <div class="modal-dialog">
    
            <div class="modal-content popup">
              <div class="modal-header popheading">
                <h3 class="modal-title">welcome back!!!</h3>
              </div>
              <div class="modal-body">
               <input tyoe="email" class="btn btn-info btn-lg oldemail" name="oldemail" placeholder="enter email" autocomplete="off" />
               <button class="btn btn-info btn-lg btn2">Login</button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Home</button>
              </div>
            </div>
    
          </div>
        </div>
         <!-- new user -->
      <div class="modal fade" id="newuser" role="dialog">
          <div class="modal-dialog">
    
            <div class="modal-content popup">
              <div class="modal-header popheading">
                <h3 class="modal-title">welcome!!! please register your self</h3>
              </div>
              <div class="modal-body">
                  Profile Image-<input type="file" class="form-control-file" id="exampleFormControlFile1">
               <input tyoe="name" class="btn btn-info btn-lg " name="name" placeholder="enter name" autocomplete="off" />
               <input tyoe="email" class="btn btn-info btn-lg " name="oldemail" placeholder="enter email" autocomplete="off" />
               <button class="btn btn-info btn-lg btn2">Login</button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Home</button>
              </div>
            </div>
    
          </div>
        </div>
    </div>

  </div>
</div>